.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar.light {
  background-color: #f4f4f4;
  color: #000;
}

.navbar.dark {
  background-color: #333;
  color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.logo-text {
  margin-left: 5px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
}
