.app-container.light {
  background-color: #ffffff;
  color: #000000;
}

.app-container.dark {
  background-color: #121212;
  color: #ffffff;
}

.content-container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}
